*{
    margin: 0;
    padding: 0;

}

.jogobonus {
    overflow: hidden;
    position:relative;
    height: 100vh;
    width: 100%;
    /*border: 1px solid #111;
     margin-left: auto;
    margin-right:  auto; */
    background: linear-gradient( #18c4e0, #a3c6d4) no-repeat;

}


#zubat{
    animation: pedra_movimento 5s infinite linear;
     
    width:100px;   
    position: absolute;
    bottom:410px;
 
   
}

#venomoth{
    animation: pedra_movimento 10s infinite linear;
     
    width:100px;   
    position: absolute;
    bottom:300px;
 
   
}

#golbat{
    animation: pedra_movimento 4s infinite linear;
     
    width:180px;   
    position: absolute;
    bottom:450px;
 
   
}

#nuvens{
    animation: pedra_movimento 9s infinite linear;
     
    width:480px;   
    position: absolute;
    bottom:390px;
 
   
}


#pedra{
    animation: pedra_movimento 2s infinite linear;
     
    width:100px;   
    position: absolute;
    bottom:30px;
    
   
}

#sunflora{
    
    position: absolute;
    bottom: 0px;
 
    width:150px;
    right:0;
}


.poke{
    
    position: absolute;
    bottom: -30px;
 
    width:200px;
}

.movimento{

    animation: inicial_movimento 1s infinite linear;
    
}

#grama{
   

    
    position: absolute;
    bottom: -420px;
    width:100%;
}


#haunter{
    animation: haunter_movimento 5s infinite linear;

    width:300px;   
    position: absolute;
    right:0;
 
   
}

#maca{
    animation: maca_movimento 5s infinite linear;

    width:70px;   
    position: absolute;
    bottom:0;
    right: 0;
 
   
}

@keyframes maca_movimento{

    0%{
        right: 0%;
        top: 20%;

    }
    5%{
        right: 10%;
        top: 50%;

    }
    15%{
        right: 20%;
        top: 80%;

    }
    20%{
        right: 30%;
        top: 90%;

    }
    50%{
        right: 50%;
    }
    100%{
        right: 100%;

    }
}


@keyframes haunter_movimento{
    0%{
        transform: translateY(0px);
        left: 80%;
  
    }
    25%{
        transform: translateY(-40px);
        left: 60%;
    }
    30%{
        transform: translateX(-100px);
        left: 40%;

    }
    35%{
        left: 20%;
    }
    50%{
        transform: translateY(60px);
        left: 45%;
    }
    60%{
        transform: translateX(-100px);
        left: 50%;
    }
   
    72%{
        transform: translateX(-100px);
        left:60%;
    }
    75%{
        transform: translateY(40px);
        right: 25%;
    }
    100%{
        transform: translateY(0px);
        left: 80%;
    }
}


@keyframes pedra_movimento{
    0%{
        right: 0%;

    }
    50%{
        right: 50%;
    }
    100%{
        right: 100%;

    }
}

@keyframes inicial_movimento{
    0%{
        bottom: -30px;

    }
    45%{
        bottom: 90px;

        
    }
    50%{
        bottom: 90px;

        
    }
    55%{
        bottom: 90px;

        
    }
    100%{
        bottom: -60px;

        
    }
}



form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #610044;
    padding: 08px;
    font-size: .8rem ;
    margin-bottom: 0px;
}