body {
    width: 100vw;
    height: 100vh;
    padding-top: 0vh;
    background: linear-gradient( #da18e0, #1190c2) no-repeat;
    margin: 0px;
    background-size: cover;
    text-align: center;
    background-image: url("../img/login.png");
    display: flex;
	flex-direction: row;
    flex-direction: column;
    justify-content: space-around;/* flex-end; center;*/
    align-items: center;
     border:none;

  

}

.espaco {
  padding-left: 50px;
}
#meio{
    
    display: inline-block;
    width: 100;
    line-height: 30px;
    padding: 7px 10px;
    background-color:  #b823ac;
    color: #FFF;
    border-radius: 90px;
    text-decoration: none;
    animation: pulsa 1.5s linear infinite;


}

  @keyframes pulsa {
    0% { transform: scale(1.1);
        transition: 1s;
    }
    20% { transform: scale(1.2);
        transition: 1s;
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    100% { transform: scale(1.1);
        transition: 1s;
    }
}


p{
    color:#ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
#print {
    color:#000000;
}

#intro {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../img/Banner-Site.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}