body{
    margin: 0;
    padding: 0;
    background: linear-gradient( #18c4e0, #a3c6d4) no-repeat;


}

#caixa{ 
    

   
 
             left: 45%;

    width:150px;   
    position: absolute;
    bottom:430px;
   
}
#espaco{
  position: absolute;

        left: 45%;
 display: inline-block;
    width: 100;
    line-height: 30px;
    padding: 7px 10px;
    background-color:  #b823ac;
    color: #FFF;
    border-radius: 90px;
    text-decoration: none;
    animation: pulsa 1.5s linear infinite;
    
    
}
.fundo_unowns {
    position:relative;
    height: 100vh;
    width: 90%;
     margin-left: auto;
    margin-right:  auto; 

}
h1{
    text-align:center;
}
#a{
     
    width:100px;   
    position: absolute;
    bottom:150px;
 
}

#b{
     
    width:100px;   
    position: absolute;
    bottom:40px;
 
}
#c{
     
    width:100px;   
    position: absolute;
    bottom:260px;
 
}
#d{
     
    width:100px;   
    position: absolute;
    bottom:330px;
 
}
#e{
     
    width:100px;   
    position: absolute;
    right:0;
    bottom:10px;
 
}
#f{
     
    width:100px;   
    position: absolute;
    bottom:100px;
    right:0;

 
}
#g{
     
    width:80px;   
    position: absolute;
    bottom:210px;
    right:0;

 
}
#h{
     
    width:100px;   
    position: absolute;
    bottom:500;
    right:0;

 
}
#i{
     
    width:100px;   
    position: absolute;
    bottom:0px;
 
}
#j{
     
    width:130px;   
    position: absolute;
    bottom:510px

 
}
#k{
     
    width:100px;   
    position: absolute;
    bottom:410px;
        right:0;

 
}