body{
    height: 100vh;
    overflow: hidden;    
    background: linear-gradient( #7e74c7, #14142c) no-repeat;
}


.campo{
    position: relative;
    width: 100%;
    height: 100%;

}

.parede1{
    position: absolute;
    width:  2vw;
    height: 100vw;
    bottom: 0%;
    left: 48%;
    rotate: 90deg;
}


.bloco1{
    position: absolute;
    width:  100%;
    height: 3%;
    bottom: 45%;
    left: 0%;
}


.bloco2{
    position: absolute;
    width:  100%;
    height: 3%;
    bottom: 0%;
    left: 0%;
}

.bloco3{
    position: absolute;
    width:  100%;
    height: 3%;
    top: -1%;
    left: 0%;
}










.geladeira{
    position: absolute;
    width: 10%;
    left: 13%;
    bottom: 46%;
}

.fogao{
    position: absolute;
    width: 8%;
    left: 5%;
    bottom: 46%;
}

.pia{
    position: absolute;
    width: 12%;
    left: 35%;
    bottom: 46%;
}



.cadeiras{
    position: absolute;
    width: 11%;
    left: 23%;
    bottom: 46%;
}




.maquina{
    position: absolute;
    width: 8%;
    left: 83%;
    bottom: 46%;
}



.cesto{
    position: absolute;
    width: 6%;
    left: 59%;
    bottom: 46%;
}

.tanque{
    position: absolute;
    width: 13%;
    left: 48%;
    bottom: 45%;
}



.produtos{
    position: absolute;
    width: 5%;
    left: 65%;
    bottom: 46%;
}


.arvore{
    position: absolute;
    width: 15%;
    left: 85%;
    bottom: 4%;
    z-index: -1;
}


.plantas{
    position: absolute;
    width: 8%;
    left: 50%;
    bottom: 2.5%;
}




.lampada1{
    position: absolute;
    width: 2%;
    left: 70%;
    bottom: 40.1%;
    transform: rotate(180deg);
}



.lampada3{
    position: absolute;
    width: 2%;
    left: 65%;
    top: 1.8%;
    transform: rotate(180deg);
}

.lampada4{
    position: absolute;
    width: 2%;
    left: 25%;
    top: 1.8%;
    transform: rotate(180deg);
}


.quadro {
    background-color: #fff; /* cor do quadro */
    width: 5vw;
    height: 6vh;
    position: absolute;
    top: 2vw;
    left: 75%;
    border: 0.3vw solid #000; /* borda do quadro */
  }
  
  .quadro img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }


  .porta0{
    position: absolute;
    width: 30%;
    bottom: 1%;
    left: 15%;

    z-index: -1;
}


  .wall {
    width: 110%;
    background-color: #1b0303;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tile {
    width: 7.5vw;
    height: 8vw;
    background-color: #1b104b;
    border: 1px solid #ffffff83;
  }
  




  .mato{
    position: absolute;
    width: 4%;
    bottom: 0%;
    z-index: -1;

}







.MenuFuncoes{
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.square {
    width: 6vw;
    height: 5vw;
    margin: 0.8vw;
    background-color: #4c76c5;
    animation: hover 1.5s infinite;
    border-radius: 1vw;

}

.square img {
    margin-top: -1.5vw;
}

h6 {
    text-align: center;
}

@keyframes hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.cortadorR{
    position: absolute;
    width: 12%;
    left: 60%;
    bottom: 5%;
}

.ventiladorR{
    position: absolute;
    width: 12%;
    left: 75%;
    bottom: 10%;
}

.fornoR{
    position: absolute;
    width: 12%;
    left: 25%;
    bottom: 65%;
}

.lavadeiraR{
    position: absolute;
    width: 12%;
    left: 70%;
    bottom: 45%;

}


.geladeiraR{
    position: absolute;
    width: 12%;
    left: 4%;
    bottom: 63%;
    transform: rotateY(180deg);
}

.rotom{
    position: absolute;
    width: 12%;
    left: 18%;
    bottom: 15%;
}

.textos{
    color: rgb(171, 187, 252);
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.texto1{
    position: absolute;
    bottom: 88%;
    left: 20%;
}

.texto2{
    position: absolute;
    bottom: 88%;
    left: 60%;
}

.texto3{
    position: absolute;
    bottom: 35%;
    left: 66%;
}


.textoLavar{
    position: absolute;
    left: 72%;
    bottom: 65%;
}
.textoGelar{
    position: absolute;
    left: 4%;
    bottom: 80%;
}
.textoCozinhar{
    position: absolute;
    left: 28%;
    bottom: 80%;
}
.textoCortar{
    position: absolute;
    left: 63%;
    bottom: 30%;
}



.professor{
	width: 25vw;
	position: absolute;
	z-index: 1;
	left: 2%;
	bottom: 0%;
}

.balao{
	position: absolute;
	background-color: white;
	width: 50vw;
	min-height: 20vw;
	border-radius: 10%;
	left: 25%;
	bottom: 5%;
	z-index: 1;
}
.campo {
	opacity: 1;
	user-select: none;
}

#dialogo{
	font-size: 1.2vw;
	line-height: 1.5; 
	margin-left: 1vw;
	animation: escrever 0.5s steps(40) forwards;

}


@keyframes escrever {
	from {
	  width: 0;
	}
	to {
	  width: 100%;
	}
  }

#botao, #botao2{
    position: absolute;
    height: 2vw;
    width: 10vw;
    font-size: 1vw;
    border-radius: 1vw;
    color: #ffffff;
    background-color: #86b5c7;
	cursor: pointer;
	animation: hover 1s infinite;
}
#botao{
	bottom: 6%;
    left: 50%;
}
#botao2{
    bottom: 6%;
    left: 75%;
}

@keyframes hover {
0% {
	transform: scale(1);
}

50% {
	transform: scale(1.1);
}

100% {
	transform: scale(1);
}
}


#telaTransparente {
	position: fixed;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
#introducao{
	z-index: 3;
}
