
* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, rgb(30, 101, 159) 0%, rgb(57, 27, 139) 100%);
  overflow: hidden;
}

body h2 {
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.contador {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.final {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.final button {
  text-align: center;
}


.pergunta, .answers{
  font-size: 1.5vw;
}

.answers button{
  font-size: 1.5vw;
}

span{
  font-size: 2vw;
}

#uA, #uB, #uC, #seaking, #magnemite, #abra, #starmie, #rotom{
  position: absolute;
  width: 7vw;
}

#uA{
  left: 12%;
  bottom: 75%;
  animation: movimentoLetras 32s infinite linear;
}

#uB{
  left: 70%;
  bottom: 70%;
  animation: movimentoLetras 13s infinite linear;
}

#uC{
  left:90%;
  bottom: 45%;
  animation: movimentoLetras 24s infinite linear;
}

#seaking{
  left: 75%;
  bottom: 5%;
  width: 10vw;  
  transform: scaleX(-1);
}

#magnemite{
  left: 5%;
  bottom: 5%;
  width: 12vw;
}

#starmie{
  left: 35%;
  bottom: 2%;
  width: 10vw;
}

#rotom{
  left: 35%;
  bottom: 75%;
  width: 12vw;
  transform: scaleX(-1);
}


#abra{
  left: 15%;
  bottom: 60%;
  width: 12vw;
  transform: scaleX(-1);
}


@keyframes movimentoLetras {
  0% {
      transform: translate(-100%, -30%) scale(1);
  }
  25% {
      transform: translate(-10%, -50%) scale(1.02);
  }
  50% {
      transform: translate(-60%, -50%) scale(1);
  }
  75% {
      transform: translate(-30%, -90%) translateY(-10%) scale(1.02);
  }
  100% {
      transform: translate(-100%, -30%) scale(1);
  }
}