* {
    user-select: none;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.tela {
    overflow: hidden;
    position:relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient( #47339e, #42a3c9) no-repeat;
}


#falink{
    animation: raio_movimento 5s infinite linear;
    width: 5vw;   
    position: absolute;
    top:48%;
    z-index: 2;
}

#raio2, #raio3, #raio4, #raio5, #raio6{
    z-index: 2;
}

#raio3{
    animation: raio_movimento 5s infinite linear;
    width:4.2%;   
    position: absolute;
    bottom:30%;
    left: 18%;
}


#raio2{
    animation:  raio_movimento 7s infinite linear;
      
    width:4.2%;   
    position: absolute;
    bottom:48%;
    left:32%;
 }
 

#raio4{
    animation:  raio_movimento 4.5s infinite linear;
     
    width:4.2%;   
    position: absolute;
    bottom:48%;
    left:44%;
 
   
}
#raio5{
    animation:  raio_movimento 6s infinite linear;
     
    width:4.2%;   
    position: absolute;
    bottom:48%;
    left:56%;

}

#raio6{
    animation:  raio_movimento 8s infinite linear;
     
    width:4.2%;   
    position: absolute;
    bottom:48%;
    left:70%;

}
#nuvens{
    animation: nuvem_movimento1 40s infinite linear; 
    width:20%;   
    position: absolute;
    bottom: 30vw;
    left:50%;
  
}


#nuvens2{
    animation: nuvem_movimento2 30s infinite linear; 
    width:20%;   
    position: absolute;
    bottom:35vw;
    left:25%;

}

#nuvens3{
    animation: nuvem_movimento3 30s infinite linear; 
    width:20%;   
    position: absolute;
    bottom: 38vw;
    left:0%;
}



.poke{
    position: absolute;
    bottom: 0%;
    --left-start-timburr: 40vw;
    left:  var(--left-start-timburr);
    z-index: 1;
    width:12vw;
  
}

.movimento{

    animation: inicial_movimento 1s infinite linear;
    
}






@keyframes nuvem_movimento1{
    0%{
        left: 50%;

    }
    50%{
        left: 60%;
    }
    100%{
        left: 50%;

    }
}


@keyframes nuvem_movimento2{
    0%{
        left: 20%;

    }
    50%{
        left: 30%;
    }
    100%{
        left: 20%;

    }
}


@keyframes nuvem_movimento3{
    0%{
        left: 0%;

    }
    50%{
        left: 10%;
    }
    100%{
        left: 0%;

    }
}

@keyframes raio_movimento{
    0%{
        top: 0%;

    }
    50%{
        top: 50%;
    }
    100%{
        top: 100%;

    }
}

@keyframes inicial_movimento{
    0%{
        left: 50%;

    }
    100%{
        left: 60%;

        
    }
}



#galho1{
    position: absolute;
    width: 22vw;   
    height: 15vw;
    bottom: 25vw;
    transform: scaleX(-1);
    left: -3%;
}



#galho2{
    position: absolute;
    width: 22vw;   
    height: 15vw;
    bottom: 25vw;
    right: -3%;
}


.vetor {
    display: flex;
    position: absolute;
    bottom: 40vw;
    flex-direction: row-reverse;
    left: 68%;
    width: 30%;
    height: 3vw;
}
.vetor h5{
    position: absolute;
    bottom: 4vw;
    color:white;
    font-size: 1.5vw;
}

.filhoVetor{
    color:white;
    width: 8vw;
    border: 0.1vw solid #ccc;
}

.filhoVetor img{
    color:white;
    width: 2.5vw;
}

.togepi, .pichu{
    position: absolute;
    width: 6vw;
}

.togepi{
    bottom: 30vw;
    left: 88%;
}
.pichu{
    bottom: 30vw;
    left: 7%;
}

.vida{
    position: absolute;
    width: 2%;
    animation: vida_movimento 7s infinite linear;
    opacity: 0;
    --vida-bottom: 30vw;
    bottom: var(--vida-bottom);
    z-index: 1;
}

.vida2{
    position: absolute;
    width: 2%;
    animation: vida2_movimento 6s infinite linear;
    opacity: 0;
    --vida2-bottom: 30vw;
    bottom: var(--vida2-bottom);
    z-index: 1;
}

@keyframes vida2_movimento{
    0%{
        bottom: var(--vida2-bottom);
        right: 8%;
    }
    0.5%{
        bottom: var(--vida2-bottom);
        right: 8%;
        opacity: 1;
    }
    20%{
        bottom: calc(var(--vida2-bottom) + 30%);
        right: 30%;
    }
    30%{
        bottom: calc(var(--vida2-bottom) + 10%);
        right: 35%;
    }
    50%{
        bottom: calc(var(--vida2-bottom) - 10%);
        right: 30%;
    }80%{
        bottom: calc(var(--vida2-bottom) - 40%);
        right: 35%;
    }
    100%{
        bottom: calc(var(--vida2-bottom) - 70%);
        right: 30%;
        opacity: 1;
    }
}

@keyframes vida_movimento{
    0%{
        bottom: var(--vida-bottom);
        left: 10%;
    }
    0.5%{
        opacity: 1;
        bottom: var(--vida-bottom);
        left: 10%;
    }
    20%{
        bottom: calc(var(--vida-bottom) + 30%);
        left: 30%;
    }
    30%{
        bottom: calc(var(--vida-bottom) + 10%);
        left: 35%;
    }
    50%{
        bottom: calc(var(--vida-bottom) - 10%);
        left: 30%;
    }80%{
        bottom: calc(var(--vida-bottom) - 40%);
        left: 35%;
    }
    100%{
        bottom: calc(var(--vida-bottom) - 70%);
        left: 30%;
        opacity: 1;
    }
}




.mato{
    position: absolute;
}

#arvore1, #arvore2{
    position: absolute;
    width: 30vw;
}
#arvore1{
    left: -8%;
    bottom: 0%;
    transform: scaleX(-1);
}
#arvore2{
    right: -8%;
    bottom: 0%;
}


.life{
    position: absolute;
    bottom: 37vw;
    left: 92%;
    height: 2vw;
    width: 150vw;
    display: flex;
    flex-direction: row;
}
.vidas1, .vidas2, .vidas3{
    width: 1.5%;
}
.life img{
    width: 100%;
}

.swal2-popup{
    font-size: 1vw;
}


.movimentoD {
    animation:  inicial_movimentoDireita 1s infinite linear;

}


@keyframes inicial_movimentoDireita{
    0%, 100% {
        left: calc(var(--left-start-timburr) + 0.8%);
    }
}

.movimentoE {
    animation:  inicial_movimentoEsquerda 1s infinite linear;

}


@keyframes inicial_movimentoEsquerda{
    0%, 100% {
        left: calc(var(--left-start-timburr) - 0.8%);
    }
}