body{
    background: linear-gradient( #5e54ff, #a3c6d4) no-repeat;
}

img {
    border-radius: 40%;
	width: 150px;;
}

.mapa{
	background: linear-gradient( #5e54ff, #a3c6d4) no-repeat;

	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.variaveis{
	position: absolute;
	transform: translate(50%, 30%);
}

.decisao{
	position: absolute;
	transform: translate(100%, 150%);
}

.repeticao{
	position: absolute;
	transform: translate(250%, 150%);
}

.arrays{
	position: absolute;
	transform: translate(300%, 30%);
}

.funcoes{
	position: absolute;
	transform: translate(500%, 30%);
}

.excecoes{
	position: absolute;
	transform: translate(500%, 150%);
}