* {
    margin: 0;
    padding: 0;


}

body {
    overflow: hidden;
    background: linear-gradient(#00ACC1, #98c6ac) no-repeat;

}

.jogobonus {

    position: relative;
    height: 100vh;
    width: 100%;

}

/* de fato */




.jogador {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 15%;
}



.base1 {
    position: absolute;
    bottom: 15%;
    left: 20%;
    width: 20%;
}

.base2 {
    position: absolute;
    bottom: 35%;
    left: 60%;
    width: 20%;
}

.adversario {
    position: absolute;
    bottom: 55%;
    left: 75%;
    width: 15%;
}

.poke {
    position: absolute;
    bottom: 0%;
    left: 25%;
    width: 35%;
    z-index: 1;
}

.pokeAdversario {
    position: absolute;
    bottom: 40%;
    left: 60%;
    width: 15%;
    z-index: 1;
}

.barraVida {
    position: absolute;
    width: 200px;
    height: 24px;

    background-color: #40ba01;
     bottom: 18.4%;
    left: 30%;
}

.barraVidaReal {
    position: absolute;
    border: solid 2px white;

    width: 200px;
    height: 24px;
    
    bottom: 18.4%;
    left: 30%;

}

.barraVidaAdversario {
    position: absolute;
    width: 200px;
    height: 24px;
    background-color: #40ba01;

    bottom: 46%;
    left: 61%;
}

.barraVidaAdversarioReal {
    position: absolute;
    border: solid 2px white;
    width: 200px;
    height: 24px;
     bottom: 46%;
    left: 61%;

}


.nuvens {
    position: absolute;
    width: 30%;;
    top: 0%;
    left: 10%;
}

.grama {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0%;
    left: 0%;
}


.form {
    z-index: 1;
}


.ataqueGrama {
    position: absolute;
    bottom: 190px;
    left: 580px;
    width: 250px;
    animation: ataqueGrama_movimento 1s linear;


}



@keyframes ataqueGrama_movimento {

    0% {
        bottom: 190px;
        left: 580px;

    }

    50% {
        bottom: 390px;
        left: 780px;


    }

    100% {
        bottom: 490px;
        left: 880px;

    }
}




.ataqueVeneno {
    position: absolute;
    bottom: 190px;
    left: 620px;
    width: 200px;

    transform: rotate(40deg);

}
.fio{
    transform: translate(-50%,0%) translate3d(0, 0, 0);
    position: absolute;
    border: 5px solid green;
    border-radius: 50%;
    width: 0%;
    height: 20%;
    bottom: -10%;
    animation: fio 10s infinite linear;
}

.fio fio1{
    left: 0%;
}

.fio fio2{
    left: 0.2%;
}

.fio3{
    left: 0.5%;
}

.fio4{
    left: 0.9%;
}

.fio5{
    left: 1%;
}
.fio6{
    left: 1.5%;
}
.fio7{
    left: 1.8%;
}

.fio8{
    left: 2.1%;
}
.fio9{
    left: 2.6%;
}
.fio10{
    left: 3%;
}
.fio11{
    left: 10.1%;
}
.fio12{
    left: 10.5%;
}
.fio13{
    left: 10.9%;
}
.fio14{
    left: 12%;
}
.fio15{
    left: 12.5%;
}
.fio16{
    left: 13%;
}
.fio17{
    left: 13.5%;
}
.fio18{
    left: 13.9%;
}
.fio19{
    left: 14%;
}
.fio20{
    left: 14.5%;
}

@keyframes fio {
      0%, 30%, 50%, 55%, 82%, 97%, 100%{border-top-right-radius: 50%;}
      20%{border-top-right-radius: 100%;}
      40%{border-top-right-radius: 500%;}
      70%{border-top-right-radius: 1000%;}
      90%{border-top-right-radius: 2000%;}
}


base{
    border: solid 2px white;
}