* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: linear-gradient(#00ACC1, #98c6ac) no-repeat;

  
}

.arena {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* de fato */




.jogador {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 15vw;
}



.base1 {
    position: absolute;
    bottom: 15vw;
    left: 20vw;
    width: 20vw;
}

.base2 {
    position: absolute;
    bottom: 35vw;
    left: 60vw;
    width: 20vw;
}

.adversario {
    position: absolute;
    bottom: 30vw;
    left: 80vw;
    width: 15vw;
}

.poke {
    position: absolute;
    bottom: 6vw;
    left: 18vw;
    width: 23vw;
    z-index: 1;
}
.base {
    position: absolute;
    bottom: 5vw;
    left: 20svw;
    width: 20%;
}

.pokeAdversario {
    position: absolute;
    bottom: 22vw;
    left: 65vw;
    width: 15vw;
    z-index: 1;
}

.barraVida {
    position: absolute;
    width: 14.5vw;
    height: 1.6vw;
    background-color: #40ba01;
    bottom: 8vw;
    left: 23vw;
    font-size: 1vw;
    font-weight: bold;

}


.barraVidaReal {
    position: absolute;
    border: solid 2px white;

    width: 14.5vw;
    height: 1.6vw;
    
    bottom: 8vw;
    left: 23vw;

}

.barraVidaAdversario {
    position: absolute;
    width: 14.5vw;
    height: 1.6vw;
    background-color: #40ba01;

    bottom: 36vw;
    left: 65vw;
    font-size: 1vw;
    font-weight: bold;
}

.barraVidaAdversarioReal {
    position: absolute;
    border: solid 2px white;
    width: 14.5vw;
    height: 1.6vw;
    bottom: 36vw;
    left: 65vw;

}


.nuvens {
    position: absolute;
    width: 30vw;
    bottom: 35vw;
    left: 10%;
}


.nuvens2 {
    position: absolute;
    width: 30vw;
    bottom: 40vw;
    right: 10%;
}



.ataqueGrama {
    position: absolute;
    bottom: 10vw;
    left: 38vw;
    width: 25vw;
    transform: rotate(25deg); 
    animation: ataqueGrama_movimento 0.9s linear;

}



@keyframes ataqueGrama_movimento {

    0% {
        bottom: 10vw; 
        left: 38vw; 
    }
    50% {
        bottom: 18vw;
        left: 58vw;
    }
    100% {
        bottom: 25vw;
        left: 78vw;
    }
}




.ataqueVeneno {
    position: absolute;
    bottom: 2vw;
    left: 48vw;
    width: 8vw;
    height: 40vw;

    transform: rotate(70deg);
    z-index: 1;

}


.form{
    width: 25vw;
    height: 8vw;
    position: absolute;
    left: 35vw;
    top: 1vw;
    background-color: rgb(255, 255, 255);
}
.form #nome{
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.form button{
    width: 15vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    background-color: #00ACC1;
    color: #ffffff;
    border-radius: 1vw;
}

button:hover{
    transform: scale(1.1);
}

.mato{
    position: absolute;
    width: 4%;
    bottom: 0%;
    z-index: -1;

}
















