*{
    background-color: #141472;
}

.rotom{
    position: absolute;
    width: 15%;
    left: 45%;
    top: 5%;
    z-index: 1;
}


.texto{
    position: absolute;
    font-size: 2vw;
    color: white;
    left: 40%;
}



.cortador{
    position: absolute;
    width: 10%;
    left: 29%;
    top: 40%;
    cursor: pointer;
}

.forno{
    position: absolute;
    width: 10%;
    left: 39%;
    top: 40%;
    cursor: pointer;
}

.lavadeira{
    position: absolute;
    width: 10%;
    left: 49%;
    top: 40%;
    cursor: pointer;
}

.ventilador{
    position: absolute;
    width: 10%;
    left: 59%;
    top: 40%;
    cursor: pointer;
}

.geladeira{
    position: absolute;
    width: 10%;
    left: 69%;
    top: 40%;
    cursor: pointer;
}

h5{
    color: white;
    font-size: 0.9vw;
    top: 20%;
}