*{
    background-color: #141472;
}

.tela{
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;


}

.rotom{
    cursor: pointer;
    width: 150px;
}

.rotomNormal{
    width: 120px;
}
.rotomNormal h6{
    width: 420px;
}

.item{
    width: 70px;
    border: 2px solid #d13030;

}

.caixaResposta{
    width: 200px;
    height: 200px;
    left: 150px;


}

.caixaResposta img{
    width: 250px;
    height: 250px;


}

.caixaSelecionados{
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
}

.filhoCaixaS{
    border: 1px solid #ccc;
    width: 70px;
    display: inline-block;
    height: 70px;
}

.filhoCaixaS img{
    width: 60px;

}