body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient( #0099b4, #1c92af) no-repeat;
    text-align: center;
}


#meio{
    display: inline-block;
    line-height: 1vw;
    background-color:  #00abb8;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-decoration: none;
    animation: pulsa 1.5s linear infinite;
    cursor: pointer;
    width: 12vw;
    height: 6vw;
}

#meio h4{
    font-size: 2vw;
}

@keyframes pulsa {
    0% { transform: scale(1.1);
        
    }
    20% { transform: scale(1.2);
       
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    100% { transform: scale(1.1);
      
    }
}


.mato{
    position: absolute;
}

#falink1, #falink2{
    position: absolute;
    width: 5vw;
    bottom: 3%;
}
#falink1{
    left: 15%;
    transform: scaleX(-1);
}
#falink2{
    left: 80%;
}

#arvore1, #arvore2{
    position: absolute;
    width: 35vw;
}
#arvore1{
    left: -8%;
    bottom: 0%;
    transform: scaleX(-1);
}
#arvore2{
    right: -8%;
    bottom: 0%;
}

#nuvens{
    animation: nuvem_movimento1 45s infinite linear; 
    width:20%;   
    position: absolute;
    top:10%;
    left:50%;
  
}


#nuvens2{
    animation: nuvem_movimento2 40s infinite linear; 
    width:20%;   
    position: absolute;
    top:-5%;
    left:20%;

}

#nuvens3{
    animation: nuvem_movimento3 35s infinite linear; 
    width:20%;   
    position: absolute;
    top:5%;
    left:0%;
}


@keyframes nuvem_movimento1{
    0%{
        left: 60%;

    }
    50%{
        left: 80%;
    }
    100%{
        left: 60%;

    }
}


@keyframes nuvem_movimento2{
    0%{
        left: 30%;

    }
    50%{
        left: 40%;
    }
    100%{
        left: 30%;

    }
}


@keyframes nuvem_movimento3{
    0%{
        left: 10%;

    }
    50%{
        left: 20%;
    }
    100%{
        left: 10%;

    }
}


#arbok{
    position: absolute;
    width: 15vw;
    bottom: -2%;
    left: 35%;
    transform: scaleX(-1);
}


#uA, #uB, #uC{
    position: absolute;
    width: 4vw;
    bottom: 25%;
}

#uA{
    left: 25%;
}
#uB{
    bottom: 35%;
    left: 45%;
}
#uC{
    left: 72%;
}

#rotom{
    position: absolute;
    width: 10vw;
    bottom: 15%;
    left: 55%;
}


#zubat1, #zubat2, #zubat3{
    position: absolute;
    width: 8vw;
}

#zubat1{
    top: 10%;
    animation: zubats_movimento 24s infinite linear;
}
#zubat2{
    top: 5%;
    animation: zubats_movimento 26s infinite linear;
}
#zubat3{
    top: 6%;
    animation: zubats_movimento 30s infinite linear;
}

@keyframes zubats_movimento{
    0%{
        right: 0%;

    }
    50%{
        right: 50%;
    }
    100%{
        right: 100%;

    }
}


#drifloon{
    position: absolute;
    width: 6.5vw;
    bottom: 66%;
    right: 90%;
    animation: animacao_drifloon 100s infinite linear;
    transform: scaleX(-1);
    z-index: 1;
}

@keyframes animacao_drifloon {
    0% {
        right: 90%; 
    }
   
    50% {
        right: 40%; 

    }
    100% {
        right: -10%; 
    }
}



p{left: 35%; top: 1%; position: absolute;
    color: rgb(105, 192, 141); 
    font-size: 5vw; 
    left: 50%;
    margin: 0;
    margin-top: 10%;
    transform: translate(-50%, -50%); /*centraliza do jeito que left 50% nao deixa */
}
.choque{
    position: relative;

    text-shadow: 
        0.05em 0 0 rgb(23, 160, 149),
        -0.025em -0.05em 0 rgb(3, 6, 199),
        0.025em 0.05em 0 rgb(139, 141, 132);

    animation: choque 1s infinite linear;
}

.choque span{
    position: absolute;
    left: 0;
    top: 0;
    
}

.choque span:first-child{
    animation: choque 1s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-.05em, -0.0125em);
    opacity: 0.6;
}
.choque span:last-child{
    animation: choque 1s infinite linear;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes choque{
    0%{

        text-shadow: 
        0.05em 0 0  rgb(25, 23, 160),
        -0.05em -0.025em 0  rgb(23, 160, 149),
        -0.025em 0.05em 0  rgb(90, 148, 158);
    }
    14%{
        text-shadow: 
        0.05em 0 0  rgb(25, 23, 160),
        -0.05em -0.025em 0  rgb(23, 160, 149),
        -0.025em 0.05em 0  rgb(3, 6, 199);
    }
    15%{
        text-shadow: 
        -0.05em 0 0  rgb(25, 23, 160),
        0.05em -0.025em 0  rgb(23, 160, 149),
        -0.025em 0.05em 0  rgb(3, 6, 199);
    }
    49%{
        text-shadow: 
        -0.05em 0 0  rgb(25, 23, 160),
        0.05em -0.025em 0  rgb(23, 160, 149),
        -0.025em 0.05em 0  rgb(3, 6, 199);
    }
    50%{
        text-shadow: 
        0.05em 0 0  rgb(25, 23, 160),
        0.05em -0.025em 0  rgb(23, 160, 149),
        0.025em 0.05em 0  rgb(3, 6, 199);
    }
    99%{
        text-shadow: 
        0.05em 0 0  rgb(25, 23, 160),
        0.05em -0.025em 0  rgb(23, 160, 149),
        0.025em 0.05em 0  rgb(3, 6, 199);
    }
    100%{
        text-shadow: 
        -0.05em 0 0  rgb(25, 23, 160),
        -0.05em -0.025em 0  rgb(23, 160, 149),
        -0.025em 0.05em 0  rgb(3, 6, 199);
    }
}

@media (prefers-reduced-motion: reduce) {
    *,::before, ::after{
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important; 
    }
}
