body {
    width: 100vw;
    height: 100vh;
    padding-top: 0vh;
    background: linear-gradient( #da18e0, #1190c2) no-repeat;
    margin: 0px;
    background-size: cover;
    text-align: center;


}

img {
  
    display:inline-block;
}
#icon{
  
    display:inline-block;
 
}


#espaco {
  
    display:inline-block;
}

#bulba{
    background-color:  #23b855;
    color: #FFF;
    border-radius: 90px;
    text-decoration: none;
}

#charmander{
    background-color:  #c40f0f;
    color: #FFF;
    border-radius: 90px;
    text-decoration: none;

}
#squirtle{

    background-color:  #2375b8;
    color: #FFF;
    border-radius: 90px;
    text-decoration: none;

}