body {
    width: 100vw;
    height: 100vh;
    padding-top: 0vh;
    background: linear-gradient( #da18e0, #1190c2) no-repeat;
    margin: 0px;
    background-size: cover;
    text-align: center;
    background-image: url("../videos/introducao/intro.gif"); 
    display: flex;
	flex-direction: row;
    flex-direction: column;
    justify-content: space-around;/* flex-end; center;*/
    align-items: center;
     border:none;
     background-size: 100% 100%;
position:relative;

  

}
.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.espaco {
  padding-left: 50px;
}
#meio{
    position:absolute;
    text-align:center;
    right:2%;
    bottom:2%;
    display: inline-block;
    width: 8%;
    height:10%;
    line-height: 30px;
    padding: 7px 10px;
    background-color:  #ffffff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    animation: pulsa 1.5s linear infinite;


}

  @keyframes pulsa {
    0% { transform: scale(1.1);
        transition: 1s;
    }
    20% { transform: scale(1.2);
        transition: 1s;
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.2);
    }
    100% { transform: scale(1.1);
        transition: 1s;
    }
}


#intro {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../img/Banner-Site.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.swal2-popup{
    font-size: 1vw;
}