body{
    height: 100vh;
    overflow: hidden;    
    background: linear-gradient( #01000c, #0d0266) no-repeat;
}



.campo{
    position: relative;
    width: 100%;
    height: 100%;

}

.bloco1{
    position: absolute;

    width: 100%;
    height: 5%;
    bottom: 60%;
    left: 0%;
}

.bloco2{
    position: absolute;
    width:  100%;
    height: 5%;
    bottom: 40%;
    left: 0%;
}

.bloco3{
    position: absolute;
    width:  100%;
    height: 5%;
    bottom: 18%;
    left: 0%;
}

.bloco4{
    position: absolute;
    width:  100%;
    height: 5%;
    bottom: 0%;
    left: 0%;
}

.escada1{
    position: absolute;
    width: 25%;
    height: 45%;
    bottom: 0%;
    left: 20%;
}

.escada2{
    position: absolute;
    width: 25%;
    height: 45%;
    bottom: 0%;
    left: 60%;
}


.escada3{
    position: absolute;
    width: 25%;
    height: 48%;
    bottom: 15%;
    left: 10%;
}


.escada4{
    position: absolute;
    width: 25%;
    height: 48%;
    bottom: 15%;
    left: 50%;
    
}

.escada5{
    position: absolute;
    width: 25%;
    height: 47%;
    bottom: 29%;
    left: 30%;
    
    
}

.porta0{
    position: absolute;
    width: 28%;
    bottom: 2%;
    left: 0%;

    z-index: -1;
}


.porta1{
    position: absolute;
    width: 28%;
    bottom: 62%;
    left: 10%;
    z-index: -1;
}


.porta2{
    position: absolute;
    width: 28%;
    bottom: 62%;
    left: 30%;
    z-index: -1;

}

.porta3{
    position: absolute;
    width: 28%;
    bottom: 62%;
    left: 50%;
    z-index: -1;

}
.porta4{
    position: absolute;
    width: 28%;
    bottom: 62%;
    left: 60%;
    z-index: -1;

}


.portaAberta1{
    position: absolute;
    width: 28%;
    bottom: 43%;
    left: 70%;
    z-index: 1;

}

.portaAberta2{
    position: absolute;
    width: 28%;
    bottom: 21%;
    left: 2%;
    z-index: 1;

}

.personagem{
    position: absolute;
    width: 25%;
    bottom: 1%;
    left: 0%;
    z-index: 1;
}




#pedra1{
    animation: pedra_movimento 3s infinite linear;

    width: 5%;   
    position: absolute;
    bottom: 30%;
    left:30%;
 
   
}

#pedra2{
    animation: pedra_movimento 7s infinite linear;

    width: 5%;    
    position: absolute;
    bottom: 50%;
    left: 46%;
 

}

#pedra3{
    animation: pedra_movimento 4s infinite linear;

    width: 5%;   
    position: absolute;
    bottom:20%;
    left:65%;
 
   
}
#pedra4{
    animation: pedra_movimento 9s infinite linear;

    width: 5%;     
    position: absolute;
    bottom: 45%;
    left:90%;
   
}

@keyframes pedra_movimento{
    0%{
        top: 0%;

    }
    50%{
        top: 50%;
    }
    100%{
        top: 100%;

    }
}
     
