* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    overflow: hidden;
}
:root {
    --my-start-bottom: 18%;
    --my-end-bottom: 18%;
}

.repeticao {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#3800c1, #bf98c6) no-repeat;
}


.nuvens3 {
    position: absolute;
    width: 20%;
    right: 80%;
    bottom: 38vw;
}



.nuvens2 {

    position: absolute;
    width: 20%;
    right: 55%;
    bottom: 35vw;
}


.nuvens {
    position: absolute;
    width: 20%;
    right: 25%;
    bottom: 40vw;
}





/* aaaa*/

.arvore {
    position: absolute;
    width: 35%;
    bottom: 0%;
    left: 73%;
    transform: scaleX(-1);
}

.movimento {

    animation: inicial_movimento 1s infinite linear;

}







.estrela {
    position: absolute;

    width: 2%;
    bottom: 38vw;
    right: 40%;
    z-index: 1;

}

.estrela2 {
    position: absolute;
    width: 2%;
    bottom: 35vw;
    right: 50%;
    z-index: 1;
}

.pikachu {
    position: absolute;
    width: 9.5%;
    bottom: 22%;
    --left-start-pikachu: 0%;
    left:  var(--left-start-pikachu);
    z-index: 1;
}


@keyframes ataqueEsp {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ajudante {
    position: absolute;
    width: 12%;
    bottom: 18%;
    left:  91%;
    z-index: 1;
    animation:  ajudante_movimento 30s  linear;
    animation-play-state: paused;
    z-index: 2;

}


@keyframes ajudante_movimento {
    0% {
       left: 90.5%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: -20%;
    }
}


.viga{
    position: absolute;
    width: 30%;
    bottom: 18%;
    z-index: 0;
}

@keyframes viga_efeito {
    0% {
        width: 25%;
    }
    50% {
       width: 25%;
    }
    100% {
      width: 25%;
    }
}


@media screen and (max-width: 1200px) {
    .pikachu {
        bottom: 8%;
    }

    .viga {
        bottom: 5%;
    }
}


.movimentoD {
    animation:  inicial_movimentoDireita 1s infinite linear;

}


@keyframes inicial_movimentoDireita{
    0%, 100% {
        left: calc(var(--left-start-pikachu) + 1%);
    }
}

.movimentoE {
    animation:  inicial_movimentoEsquerda 1s infinite linear;

}


@keyframes inicial_movimentoEsquerda{
    0%, 100% {
        left: calc(var(--left-start-pikachu) - 1%);
    }
}


@keyframes inicial_movimento {
    0% {
        bottom: var(--my-start-bottom); 

    }

    25% {
        bottom: 35%;

    }

    50% {
        bottom: 50%;

    }

    75% {
        bottom: 35%;
    }


    100% {
        bottom: var(--my-end-bottom);
    }
}









.pokemon{
    position: absolute;
}

.pokemon h5 {
    position: absolute;
}

.rio{
    width: 95vw;
    height: 35vh;
    background: linear-gradient(#00ffd5, #1200b4, #00b2f8) no-repeat;
    position: absolute;
    left: 2%;
    bottom: 0%;
    animation: rio 1.2s ease-in-out infinite;
    z-index: 1;

}
@media screen and (max-width: 1200px) {
    .rio {
        height: 10vh;
    }
}

@keyframes rio {
    0%, 100% {
        clip-path: polygon(0% 70%, 100% 70%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 65%, 100% 65%, 100% 100%, 0% 100%);
    }
    80% {
        clip-path: polygon(0% 68%, 100% 68%, 100% 100%, 0% 100%);
    }
}



.starmie{
    width: 7%;
    position: absolute;
    left: 85%;
    animation: starmie_movimento 5s infinite linear;
    z-index: 1;
}



.entrada{
    position: absolute;
    width: 8%;
    left: -1%;
    bottom: 0%;
    z-index: 1;
    
}

.saida{
    position: absolute;
    width: 8%;
    left: 94%;
    bottom: 0%;
    z-index: 1;
    height: 20%;
    
}


.ponte{
    position: absolute;
    width: 95%;
    height: 12%;
    bottom: 12%;
    left: 3%;
    display: flex;
    flex-direction: row-reverse;
    
}

@media screen and (max-width: 1200px) {
    .ponte {
        bottom: -3%;
    }
}

.filhoPonte{ 
    color:white; 
    width: 10%; 
}

.filhoPonte img{ 
    width: 100%;       
}
 
 


@keyframes starmie_movimento {
    0% {
        bottom: 1vw;
        left: 85%;

    }
    5% {
        bottom: 6vw;
        left: 85%;
    }
    10%{
        bottom: 6vw;
        left: 85%;
    }

    20% {
        /*transform: rotate(-15deg);      */
        bottom: 10vw;
    }

    30% {
       /* transform: rotate(-15deg);      */
    }
    50% {
       /* transform: rotate(-15deg);*/
    } 

    50% {
       /* transform: rotate(-15deg);*/
    } 
    60% {
       /* transform: rotate(3505deg);*/
        left: 85%;
    } 
    80% {
       /* transform: rotate(6505deg);*/
        left:  50%;

    }
    90%{
        left:  20%;
        bottom: 10vw;
    }
    100% {
       /* transform: rotate(9505deg);*/
        left:  -10%;
        bottom: 10vw;

    }
  

}



.mato{
    position: absolute;
    width: 4%;
    bottom: 0%;
    z-index: 0;

}

.tronco_queda{
    position: absolute;
    width: 4vw;
    left: 20%;
    animation: troncoQueda_movimento 7s infinite linear;

}

@keyframes troncoQueda_movimento {
    0% {
        top: -5%;
    }
    50% {
        top: 50%;
    } 
    100% {
        top: 100%;
    }
  
}

.vidas{
    position: absolute;
    left: 2%;
    bottom: 30vw;
    height: 2vw;
    width: 150vw;
    display: flex;
    flex-direction: row;
}

.vidas1, .vidas2, .vidas3{
    width: 1.5%;
}
.vidas img{
    width: 100%;
}




/* Peixes e outros inimigos*/

.goldeen, .seaking, .qwilfish, .basculin{
    position: absolute;
    bottom: 0%;
    z-index: 2;
    width: 6%;
}
.goldeen{
    --my-start-left: 10%;
    animation: animacao_peixe 9s infinite linear;
    transform: scaleX(-1);
    animation-play-state: paused;
}
.seaking{
    --my-start-left: 85%;
    animation: animacao_peixe 8s infinite linear;
    animation-play-state: paused;
} 
.qwilfish{
    width: 3.5%;
    --my-start-left: 60%;
    animation: animacao_peixe 11s infinite linear;
    animation-play-state: paused;
}
.basculin{
    --my-start-left: 35%;
    animation: animacao_peixe 10s infinite linear;
    animation-play-state: paused;
} 

.vidaExtra{
    position: absolute;
    width: 6.5vw;
    bottom: 8vw;
    left: 90%;
    animation: animacao_drifloon 100s infinite linear;
    z-index: 1;
}

.vidaExtra #vidaExtra{
    width: 2vw;
}

.drifloon{
    width: 10.5vw;
    transform: scaleX(-1);
} 

.textoVidaExtra h5, .textoVidaExtra .drifloonTexto, .textoVidaExtra .vidaTexto, .textoVidaExtra .exclamacao{
    position: absolute;
    animation: piscarTelaTexto 0.9s steps(1, end) infinite;
}
.textoVidaExtra h5{
    left: 30%;
    bottom: 29vw;
    width: 40vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.textoVidaExtra .exclamacao{
    left: 27%;
    bottom: 29vw;
    width: 4vw;
}



.textoViga , .exclamacaoAzul{
    position: absolute;
    animation: piscarTelaTexto 0.9s steps(1, end) infinite;
}
.textoViga{
    left: 30%;
    bottom: 22vw;
    width: 40vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.exclamacaoAzul{
    left: 28%;
    bottom: 22vw;
    width: 1.5vw;
}



@keyframes animacao_drifloon {
    0% {
        left: 90%; 
    }
   
    50% {
        left: 40%; 

    }
    100% {
        left: -10%; 
    }
}

.mantine{
    position: absolute;
    width: 15vw;
    bottom: 28vw;
    left: 88%;
    z-index: 2;
} 

@keyframes animacao_peixe {
    0% {
        left: var(--my-start-left); 
        opacity: 1;
    }
    30% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 1;
    }
    35% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 0;
    }
    40% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 1;
    }
    42% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 0;
    }
    45% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 1;
    }
    46% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 0;
    }
    47% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 1;
    }
    48% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 0.5;

    }
    49% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 0%;
        opacity: 0;
    }
    50% {
        left: calc(var(--my-start-left) + 5%);
        bottom: 50%;
        opacity: 1;
    }
    55% {
        bottom: 0%;
    }
    100% {
        left: var(--my-start-left); 

    }
}


.mantyke1{
    position: absolute;
    width: 6vw;
    --my-start-bottom: 40vw;
    left: 90%;
    animation: animacao_mantyke 3s infinite linear;
    z-index: 2;
    transform: rotate(-40deg);
} 

.mantyke2{
    position: absolute;
    width: 6vw;
    --my-start-bottom: 35vw;
    left: 90%;
    animation: animacao_mantyke 3s infinite linear;
    z-index: 2;
    transform: rotate(-40deg);
} 

@keyframes animacao_mantyke {
    0% {
        bottom: var(--my-start-bottom);
        left: 90%;
    }
    50% {
        bottom: calc(var(--my-start-bottom) - 50%);
        left: 60%;
    }
    100% {
        bottom: calc(var(--my-start-bottom) - 110%);
        left: 30%;
    }
}

.indicador{
    position: absolute;
    bottom: 40vw;
    left: 45%;
    width: 4.5vw;
    border: solid 0.3vw black;
}

@keyframes piscarTela {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes piscarTelaTexto {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}

.indicador img{
    width: 4vw;
    animation: piscarTela 0.4s steps(1, end) infinite;
}

.sinalizacao{
    position: absolute;
    width: 4vw;
    left: 48%;
    z-index: 2;
    bottom: 3%;
    animation: piscarTela 0.4s steps(1, end) infinite;

} 

.octillery{
    position: absolute;
    width: 18vw;
    left: 25%;
    z-index: 2;
    --my-bottom: -6vw;
    bottom: var(--my-bottom); 
    animation: animacao_pulo 14s infinite linear;

} 

.tentacruel{
    position: absolute;
    width: 21vw;
    --my-bottom: -7vw;
    bottom: var(--my-bottom); 
    left: 65%;
    z-index: 2;
    animation: animacao_pulo 10s infinite linear;
    transform: scaleX(-1);
} 

@keyframes animacao_pulo {
    0% {
        bottom: --my-bottom;
    }
    45% {
        bottom: --my-bottom;
        opacity: 1;
    }
    48% {
        bottom: --my-bottom;
        opacity: 1;
    }
    50% {
        bottom: --my-bottom;
        opacity: 0;
    }
    52% {
        opacity: 1;
        bottom: --my-bottom;
    }
    54% {
        opacity: 0;
        bottom: --my-bottom;
    }
    56% {
        opacity: 1;
        bottom: --my-bottom;
    }
    58% {
        opacity: 0;
        bottom: --my-bottom;
    }
    59% {
        opacity: 1;
        bottom: calc(var(--my-bottom) - 0.1vw);
    }
    60% {
        bottom: calc(var(--my-bottom) + 16vw);
    }
    80% {
        bottom: calc(var(--my-bottom) + 16vw);
    }
    90% {
        bottom: calc(var(--my-bottom) + 16vw);
    }
    98% {
        bottom: --my-bottom;
    }
    100% {
        bottom: --my-bottom;
    }

}

.swal2-popup{
    font-size: 1vw;
}