body {
    background: linear-gradient( #18c4e0, #a3c6d4) no-repeat;
    overflow: hidden; 
    width: 100vw;
    height: 100vh;
    
}

.teclado{
    border: solid 2px white; 
    width: 100%;
    height: 37vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5vw;
    background-color:  #18c4e0;
    z-index: 2;
}

.letras:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.letras{
    margin: auto;
}

.letras h6{
    font-size: 1vw;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-size: 1.5vw;
}



.caixaConteudo {
    text-align: center;
}

.caixaConteudo img{
    width: 10.5vw;
}

.textoCaixa{
    font-size: 1.2vw;
    margin-top: -6vw;
    margin-left: 46vw;
    margin-right: 46vw;
}




.tela {
    padding: 1vw;
    display: flex;
    flex-direction: row; 
}

.caixaResposta {
    border: 2px solid white;
    width: 45vw;
    height: 8vw;
    margin-top: 5vw;
    margin-left: 1vw;
    background-color: linear-gradient( #18c4e0, #a3c6d4) no-repeat;
}




#botaoResposta {
    height: 2vw;
    width: 5vw;
    font-size: 1vw;
    margin-left: 50%;
    margin-top: 1vw;
    border-radius: 1vw;

    color: #000000;
    background-color: #61cddd;
}

#botaoResposta:hover {
    transform: scale(1);
}
#botaoDeletar {
    height: 2vw;
    width: 5vw;
    font-size: 1vw;
    margin-left: 50%;
    margin-top: 1vw;
    border-radius: 1vw;

    color: #000000;
    background-color: #61cddd;
}

#botaoDeletar:hover {
    transform: scale(1);
}

.filhoCaixaS{
    width: 5vw;
    display: inline-block;
    height: 5vw;
    flex-wrap: wrap;
}





.inicial {
    margin-left: 2vw;
    width: 30vw;
}
.inicial h2{
    font-size: 1vw;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2;
    color: rgb(0, 0, 0);
    border: solid 2px white;
    border-radius: 5%;
    background-color: white;
}
.inicial img {
    width: 5vw;
}



#slot1 img{
    width: 500%;
    margin-top: 2vw;
}

#A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L, #M, #N, #O, #P, #Q, #R, #S, #T, #U, #V, #W, #X, #Y, #Z, #ia, #ib{
    position: absolute;
    width: 3vw;
}

.swal2-popup{
    font-size: 1vw;
}


