body {
    background: linear-gradient( #18c4e0, #a3c6d4) no-repeat;
    overflow: hidden;  
}

.teclado{
    border: solid 2px white; 
    width: 100%;
    height: 37vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5vw;
}

.letras:hover {
    transform: scale(1.1);
    cursor: pointer;
}



.letras{
    margin: auto;
}

.letras h6{
    font-size: 1vw;
    text-align: center;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-size: 2vw;
}

#ee {
    width: 5vw;
    position: absolute;
    right: 20vw;
    bottom: 5vw;
}

#hh {
    width: 5vw;
    position: absolute;
    top: 10vw;
    right: 2vw;
}

#jj {
    width: 5vw;
    position: absolute;
    top: 2vw;
    left: 10vw;
}

.caixaConteudo {
    text-align: center;
}

.caixaConteudo img{
    width: 10vw;
}

.caixaConteudo h2 {
    font-size: 1.2vw;
    margin-top: -6vw;
}

.tela {
    padding: 1vw;
    display: flex;
    flex-direction: row; 
}

.caixaResposta {
    border: 2px solid white;
    width: 45vw;
    height: 8vw;
    margin-top: 5vw;
    margin-left: 5vw;
}




#botaoResposta {
    height: 2vw;
    width: 5vw;
    font-size: 1vw;
    margin-left: 50%;
    margin-top: 1vw;
    border-radius: 1vw;

    color: #000000;
    background-color: #61cddd;
}

#botaoResposta:hover {
    transform: scale(1);
}

.filhoCaixaS{
    width: 2.8vw;
    display: inline-block;
    height: 5vw;
    flex-wrap: wrap;
}

.filhoCaixaS img{
    width: 4.5vw;
}



.inicial {
    margin-top: 5vw;
    margin-left: 5vw;
    width: 10vw;
}
.inicial h2{
    font-size: 1vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inicial img {
    width: 7vw;
}



#slot1 img, #slot2 img, #slot3 img, #slot4 img, #slot5 img, #slot6 img, #slot7 img, #slot8 img, #slot9 img, #slot10 img, #slot11 img, #slot12 img{
    width: 500%;
}