
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, rgb(30, 101, 159) 0%, rgb(57, 27, 139) 100%);
}

body h2 {
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}


.question, .answers{
  font-size: 1.5vw;
}

.answers button{
  font-size: 1.5vw;
}

span{
  font-size: 2vw;
}

#uA, #uB, #uC, #seaking, #magnemite, #abra, #starmie, #rotom{
  position: absolute;
  width: 7vw;
}

#uA{
  left: 1%;
  bottom: 80%;
}

#uB{
  left: 70%;
  bottom: 80%;
}

#uC{
  left: 79%;
  bottom: 53%;
}

#seaking{
  left: 75%;
  bottom: 5%;
  width: 10vw;
}

#magnemite{
  left: 5%;
  bottom: 0%;
  width: 20vw;
}

#starmie{
  left: 35%;
  bottom: 2%;
  width: 10vw;
}

#rotom{
  left: 35%;
  bottom: 80%;
  width: 12vw;
}


#abra{
  left: 1%;
  bottom: 60%;
  width: 12vw;
  transform: scaleX(-1);
}


